#app2 {
  display: flex;
  flex-direction: column;
}
#nav {
  display: flex;
}

#nav li {
  display: inline-block;
  width: 50%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #f00;
}

#nav li.active {
  background-color: #f00;
  color: #fff;
}

#content {
  flex-grow: 1;
}
#content > div {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  display: none;
}

#content > div.show {
  display: flex;
}
